@import 'tournamentChooser';
@import 'matchChooser';
@import 'matchWriter';
@import 'confirmWindow';
@import 'loadingRing';
@import 'liveScore';

@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Ubuntu-Regular.ttf')  format('truetype');
}

.header {
	color: #000000;
}
body {
	font-family: 'MyWebFont' !important;
	//background-image: url('../images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#navbar {
    margin-right:15px;
}

.container {
    position: relative;
}

.clickElement {
    cursor: pointer;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,1); 
}